* {
    border-width: 0px;
    border-color: green;
}

*:focus {
    border-color: red;
    border-width: 1px;
}

.header {
    background-color: #3d393a;
    layout-type: row;
    height: 100px;
    child-space: 10px;
    col-between: 20px;
}

.header>.spacer {
    background-color: #0d0d0d;
    width: 1px;
    height: 60%;
    top: 1s;
    bottom: 1s;
}

.header>.control_bar {
    width: 250px;
}

.control_bar>label {
    color: #a5a5a5;
    child-space: 1s;
    child-left: 5px;
}

.control_bar textbox {
    color: white;
}

.control_bar>.controls {
    child-space: 5px;
    col-between: 5px;
}

.control_bar>.controls>textbox {
    width: 40px;
    child-space: 1s;
}

.control_bar>.controls>label {
    child-space: 1s;
}

.control_bar>.controls>button {
    child-space: 1s;
}

.control_bar>.controls>dropdown {
    width: 100px;
}

button:disabled {
    color: #555555;
}

button:hover {
    background-color: #494546;
}

button:active {
    background-color: #302d2e;
}



check_button {
    /* center text */
    child-space: 1s;
}

dropdown label {
    child-space: 1s;
}

scroll_container {
    height: 1s;
    background-color: #262626;
}

scroll_container>.container {
    width: 1s;
    left: 10px;
    right: 0px;
}

scroll_container>.scrollbar {
    background-color: #464646;
    /* background-color: #6a57be; */
    width: 10px;
}

scroll_container:enabled>.scrollbar {
    width: 10px;
    transition: width 0.1 0.0;
}

scroll_container:enabled>.container {
    left: 10px;
    transition: left 0.1 0.0;
}

scroll_container:disabled>.scrollbar {
    width: 0px;
    transition: width 0.1 0.0;
}

scroll_container:disabled>.container {
    left: 0px;
    transition: left 0.1 0.0;
}


scroll_containerh {
    width: 1s;
    background-color: #262626;
}

scroll_containerh>.container {
    height: 1s;
    bottom: 10px;
    top: 0px;
}

scroll_containerh>.scrollbar {
    background-color: #464646;
    /* background-color: #6a57be; */
    height: 10px;
    top: 1s;
    bottom: 0px;
}

scroll_containerh:enabled>.scrollbar {
    height: 10px;
    transition: height 0.1 0.0;
}

scroll_containerh:enabled>.container {
    bottom: 10px;
    transition: bottom 0.1 0.0;
}

scroll_containerh:disabled>.scrollbar {
    height: 0px;
    transition: height 0.1 0.0;
}

scroll_containerh:disabled>.container {
    bottom: 0px;
    transition: bottom 0.1 0.0;
}