/* ----- Timeline ----- */

.timeline_content_header {
    background-color: #1E1E1E;
    height: 25px;
}

.timeline_content {
    background-color: #2C2C2C;
}

/* ----- Lane -----  */

/* Default lane */
.lane_headers {
    background-color: #1E1E1E;
    row-between: 1px;
    width: 1s;
}

.lane_header {
    width: 1s;
    background-color: #2C2C2C;
}

.lane_name {
    left: 5px;
    right: 5px;
    width: 1s;
}

.lane_bar {
    width: 14px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

/* Selected Lane */
.lane_header.selected {
    background-color: #525252;
}

.lane_header.selected.disabled {
    background-color: #2C2C2C;
}

/* Activated Lane */
.lane_header.disabled  {
    background-color: #1E1E1E;
}

