.top_bar {
    child-top: 1s;
    child-bottom: 1s;
    background-color: #2C2C2C;
    height: 64px;
    col-between: 1s;
}

.top_bar_menu {
    left: 8px;
}

.top_bar_play {
    position: self-directed;
    left: 1s;
    right: 1s;
    width: 100px;
    col-between: 30px;
}

.top_play_center {
    col-between: 10px;
}

.top_bar_right_container {
    right: 8px;
    left: 1s;
    /*Same problem as the select container*/
    width: 336px;
}

.top_bar_graph_container {
    col-between: 8px;
}

.top_bar_select_container {
    /*For some reason the button container is growing on the right 
    side as the window grows in order to keep the left side in the middle.
    Setting the width to 4*button_width + spaces between fixes this*/
    width: 136px;
}

.top_bar_select_container > hstack > button {
    left: 5px;
    right: 5px;
}

.top_bar_audio_graph_container {
    child-space: 3px;
    background-color: #211C1E;
    border-radius: 2px;
    width: 100px;
}

.top_bar_peak_container {
    row-between: 1s;
    child-space: 3px;
    background-color: #141112;
    border-radius: 3px;
    width: 100px;
}

.top_bar_peak {
    height: 5px;
}

.top_bar_usage_graph_container {
    child-space: 3px;
    background-color: #211C1E;
    border-radius: 2px;
    width: 100px;
}