/* --- Palette --------------------------------------------------------------- */

@define-color accent_1 #f54e47;
@define-color accent_2 #62a0e7;

@define-color text_lv1 #c6c6c6;
@define-color text_lv2 #dddddd;
@define-color text_lv3 #f4f4f4;

@define-color border_lv1 #0e0e0e;
@define-color border_lv2 #2f2f2f;

@define-color bg_lv1 #171717;
@define-color bg_lv2 #1d1d1d;
@define-color bg_lv3 #282828;
@define-color bg_lv4 #3d3d3d;
@define-color bg_lv5 #575757;

@define-color btn_hover_color #4a4a4a;
@define-color btn_down_color #171717;
@define-color btn_down_color_2 #3d3d3d;
@define-color record_btn_inactive #c74d49;
@define-color record_btn_active #e62e28;

/* override adwaita colors */
@define-color accent_color #ea716c;
@define-color accent_bg_color #a5504d;

/* --------------------------------------------------------------------------- */

/* disable all theming from user's system
  (I know this is against the spirit of GTK, but a DAW UI is very specialized
  and doesn't translate well to the design of more "traditional" apps. Also I
  have a very specific design language that I want to stay consistent.)
*/
* {
  padding: 0;
  margin: 0;
  color: transparent;
  background-image: none;
  background-color: transparent;
  outline-color: transparent;
  outline-style: solid;
  outline-offset: 0px;
  outline-width: 0px;
  box-shadow: none;
  text-shadow: none;
  border: none;
  border-radius: 0;
  min-width: 0px;
  min-height: 0px;
  animation: none;
  transition: none;
}

/* ---- Common --------------------------------------------------------------- */

label,
.label {
    color: @text_lv2;
}

label.panel_title {
  color: @text_lv1;
  margin-left: 8px;
  margin-top: 8px;
}

.link * {
  color: @accent_2;
}

label:disabled {
  color: @text_disabled;
}

frame,
.frame {
    border: 1px solid @border_lv1;
}

separator.vertical {
  background-color: @border_lv1;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 1px;
}

dialog {
  background-color: @bg_lv3;
}

textview {
  font-family: Monospace;
}

selection {
  color: @text_lv3;
  background-color: @btn_hover_color;
}

menubar {
  margin-left: 5px;
}

menubar > item {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

menubar > item:hover {
  background-color: @btn_hover_color;
}

menubar > item:hover > label {
  color: @text_lv3;
}

popover {
  box-shadow: 0 10px 20px #0000007F;
  margin: 0;
  border-radius: 4px;
}

popover contents {
  background-color: @bg_lv3;
  border: 1px solid @border_lv1;
  padding: 3px;
  margin: 0;
  border-radius: 4px;
}

modelbutton {
  min-width: 150px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

modelbutton:hover {
  background-color: @btn_hover_color;
}

modelbutton:hover > label {
  color: @text_lv3;
}



button.image-button image {
  color: @text_lv2;
  padding: 4px;
  border-radius: 4px;
}

button.image-button:hover image {
  color: @text_lv3;
  background-color: @btn_hover_color;
}

button.image-button:active image {
  color: @text_lv3;
  background-color: @btn_down_color;
}



button.toolbar-text-btn {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

button.toolbar-text-btn label {
  color: @text_lv2;
}

button.toolbar-text-btn image {
  color: @text_lv2;
  -gtk-icon-size: 16pt;
}

button.toolbar-text-btn:hover {
  background-color: @btn_hover_color;
}

button.toolbar-text-btn:active {
  background-color: @btn_down_color;
}

button.toolbar-text-btn:hover label, button.toolbar-text-btn:hover image {
  color: @text_lv3;
}

button.toolbar-text-btn:active label, button.toolbar-text-btn:active image {
  color: @text_lv3;
}



button.image-toggle image {
  color: @text_lv2;
  padding: 4px;
  border-radius: 4px;
}

button.image-toggle:hover image {
  color: @text_lv3;
  background-color: @btn_hover_color;
}

button.image-toggle:active image {
  color: @text_lv3;
  background-color: @btn_down_color;
}

button.image-toggle:selected image {
  color: @text_lv3;
  background-color: @btn_down_color;
}


button.small-image-toggle image {
  color: @text_lv2;
  padding: 3px;
  border-radius: 4px;
}
button.small-image-toggle:hover image {
  color: @text_lv3;
  background-color: @btn_hover_color;
}
button.small-image-toggle:active image {
  color: @accent_1;
  background-color: @btn_down_color;
}
button.small-image-toggle:checked image {
  background-color: @btn_down_color;
  color: @accent_1;
}
button.small-image-toggle:checked:hover image {
  background-color: @bg_lv3;
}


browser-volume-button button.image-button {
  padding: 0;
  margin: 0;
  -gtk-icon-size: 16pt;
  border: none;
}

scale > trough {
  background-color: @bg_lv1;
}
scale > trough > slider {
  background-position: center;
  min-width: 14px;
  min-height: 14px;
  border-radius: 50%;
  background-color: @text_lv1;
}
scale > trough > slider:hover {
  background-color: @text_lv2;
}



button.toggle {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid @border_lv1;
  border-left-width: 0px;
  border-right-width: 0px;
}

button.toggle:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left-width: 1px;
}

button.toggle:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-width: 1px;
}

button.toggle:hover {
  background-color: @btn_hover_color;
}

button.toggle:hover label {
  color: @text_lv3;
}

button.toggle:checked {
  background-color: @btn_down_color;
}

button.toggle:checked label {
  color: @text_lv3;
}




button.record_btn image {
  color: @record_btn_inactive;
  padding: 4px;
  border-radius: 4px;
}

button.record_btn:hover image {
  background-color: @btn_hover_color;
}

button.record_btn:active image {
  color: @record_btn_active;
  background-color: @btn_down_color;
}



button.side_bar_tab image {
  color: @text_lv2;
  padding: 4px;
  border-radius: 4px;
}

button.side_bar_tab:hover image {
  background-color: @btn_hover_color;
}

button.side_bar_tab:checked image {
  color: @text_lv3;
  background-color: @btn_hover_color;
  border-left: 1px solid @text_lv3;
}






button.category_tab {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 1px solid @border_lv1;
  border-top-width: 0px;
  border-bottom-width: 0px;
  background-color: @bg_lv2;
}

button.category_tab:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-width: 1px;
}

button.category_tab label, button.category_tab image {
  color: @text_lv2;
}

button.category_tab:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-width: 1px;
}

button.category_tab:hover {
  background-color: @btn_hover_color;
}

button.category_tab:hover label, button.category_tab:hover image {
  color: @text_lv3;
}

button.category_tab:checked {
  background-color: @btn_hover_color;
}

button.category_tab:checked label,
button.category_tab:checked image {
  color: @text_lv3;
}


list.browser_folder_tree expander {
  color: @text_lv2;
}
button.browser_tree_item {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
}
button.browser_tree_item:hover {
  background-color: @btn_hover_color;
}
button.browser_tree_item:active {
  background-color: @bg_lv5;
}
button.browser_tree_item:checked {
  background-color: @btn_down_color_2;
}
button.browser_tree_item:checked:hover {
  background-color: @btn_hover_color;
}
button.browser_tree_item:checked:active {
  background-color: @bg_lv5;
}
button.browser_tree_item label, button.browser_tree_item image {
  color: @text_lv2;
}
button.browser_tree_item:hover label, button.browser_tree_item:hover image {
  color: @text_lv3;
}
button.browser_tree_item:checked label, button.browser_tree_item:checked image {
  color: @text_lv3;
}

listview.browser_list_view row:selected {
  background-color: @btn_down_color_2;
}
box.browser_list_item {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
}
box.browser_list_item:hover {
  background-color: @btn_hover_color;
}
box.browser_list_item:active {
  background-color: @bg_lv5;
}
box.browser_list_item label, box.browser_list_item image {
  color: @text_lv2;
}
box.browser_list_item:hover label, box.browser_list_item:hover image {
  color: @text_lv3;
}


entry.search {
  background-color: @bg_lv1;
  color: @text_lv2;
  border: 1px solid @border_lv1;
  border-radius: 4px;
}

entry.search text, entry.search image {
  color: @text_lv2;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

entry.search image {
  padding-left: 8px;
}


scrolledwindow.browser_list_pane {
  background-color: @bg_lv2;
  border: 1px solid @border_lv1;
  border-radius: 4px;
}

scrolledwindow.browser_list_pane slider {
  background-color: @text_lv1;
  min-width: 14px;
  border-radius: 4px;
}



/* ---- Windows -------------------------------------------------------------- */

window.background {
  background: @bg_lv1;
}

window.aboutdialog {
  background: @bg_lv3;
  border: 1px solid @border_lv2;
  border-radius: 4px;
  box-shadow: 0 10px 20px #0000007F;
}

window.aboutdialog headerbar {
  background: @bg_lv3;
  border-bottom: 1px solid @border_lv1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

window.aboutdialog scrolledwindow {
  background-color: @bg_lv2;
}



windowcontrols * {
  color: @text_lv2;
}

windowcontrols button {
  padding: 0px;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 3px;
}

windowcontrols button:hover {
  background-color: @btn_hover_color;
  color: @text_lv3;
}

windowcontrols button:active {
  background-color: @btn_down_color;
}

windowcontrols button image {
  padding: 5px;
}

/* ---- Panels --------------------------------------------------------------- */

box#top_bar {
  background-color: @bg_lv3;
  min-height: 38px;
  border: 1px solid @border_lv2;
  border-radius: 4px;
}

box#bottom_bar {
  background-color: @bg_lv2;
  min-height: 26px;
  border: 1px solid @border_lv2;
  border-radius: 4px;
}

box#side_bar_tabs {
  background-color: @bg_lv2;
  min-width: 40px;
  border: 1px solid @border_lv2;
  border-radius: 4px;
}

box#browser_panel {
  background-color: @bg_lv4;
  min-width: 160px;
  border: 1px solid @border_lv2;
  border-radius: 4px;
}

box#tracks_panel {
  background-color: @bg_lv4;
  min-width: 210px;
  border: 1px solid @border_lv2;
  border-radius: 4px;
}
