label,
.label {
    font-size: 10pt;
}

label.panel_title {
    font-size: 9pt;
}

box.browser_list_item label {
    font-size: 10pt;
}

box.browser_list_item image {
    -gtk-icon-size: 14pt;
}

textview {
    font-size: 10pt;
}

button.image-button image {
    -gtk-icon-size: 16pt;
}

button.toolbar-text-btn image {
    -gtk-icon-size: 16pt;
}

button.record_btn image {
    -gtk-icon-size: 16pt;
}

button.side_bar_tab image {
    -gtk-icon-size: 20pt;
}

button.category_tab label {
    font-size: 10pt;
}

button.category_tab image {
    -gtk-icon-size: 14pt;
}

button.image-toggle image {
    -gtk-icon-size: 16pt;
}

button.small-toggle image {
    -gtk-icon-size: 14pt;
}

entry.search text {
    font-size: 10pt;
}

window.aboutdialog scrolledwindow label {
    font-size: 12pt;
}