label,
.label {
    font-size: 13.5pt;
}

label.panel_title {
    font-size: 12.5pt;
}

box.browser_list_item label {
    font-size: 12.5pt;
}

box.browser_list_item image {
    -gtk-icon-size: 19.5;
}

textview {
    font-size: 13.5pt;
}

button.image-button image {
    -gtk-icon-size: 21.5pt;
}

button.toolbar-text-btn image {
    -gtk-icon-size: 21.5pt;
}

button.record_btn image {
    -gtk-icon-size: 21.5pt;
}

button.side_bar_tab image {
    -gtk-icon-size: 25.5pt;
}

button.category_tab label {
    font-size: 13.5pt;
}

button.category_tab image {
    -gtk-icon-size: 19.5;
}

button.image-toggle image {
    -gtk-icon-size: 21.5pt;
}

button.small-toggle image {
    -gtk-icon-size: 19.5;
}

entry.search text {
    font-size: 13.5pt;
}

window.aboutdialog scrolledwindow label {
    font-size: 15pt;
}