label,
.label {
    font-size: 10pt;
}

label.panel_title {
    font-size: 9pt;
}

textview {
    font-size: 10pt;
}

button.image-button image {
    -gtk-icon-size: 16pt;
}

button.toolbar-text-btn image {
    -gtk-icon-size: 16pt;
}

button.record_btn image {
    -gtk-icon-size: 16pt;
}

button.side_bar_tab image {
    -gtk-icon-size: 20pt;
}

button.browser_panel_tab image {
    -gtk-icon-size: 14pt;
}

window.aboutdialog scrolledwindow label {
    font-size: 12pt;
}