/*
== Color palette ==

Accents

- Accent 1      #ea716c
- Accent 2      #62a0e7
- Accent 1 BG   #a5504d

Text

- Level 1       #aaaaaa
- Level 2       #c6c6c6
- Level 3       #f4f4f4

Backgrounds

- Level 1       #171717
- Level 2       #1d1d1d
- Level 3       #282828
- Level 4       #3d3d3d
- Level 5       #575757

Borders

- Level 1       #0e0e0e
- Level 2       #2f2f2f

Buttons

- Hover           #4a4a4a
- Down 1          #171717
- Down 2          #3d3d3d
- Record Btn Off  #c74d49
- Record Btn On   #e62e28

*/

/* Font Classes */

.code_text {
    font: "fira-code";
    font-size: 12pt;
}

.small_text {
    font: "min-sans-medium";
    font-size: 12pt;
    color: #aaaaaa; /* Text Level 1 */
}

.body_text {
    font: "min-sans-regular";
    font-size: 16pt;
}

.icon {
    child-space: 1s;
    color: #c6c6c6; /* Text Level 2 */
}

label {
    color: #c6c6c6; /* Text Level 2 */
    font-size: 12pt;
    font: "min-sans-medium";
}

menustack.horizontal {
    child-left: 3px;
}

menustack.vertical {
    background-color: #282828; /* Background Level 3 */
    min-width: 150px;
    border-width: 1px;
    border-color: #0e0e0e; /* Border Level 1 */
    border-radius: 4px;
    outer-shadow: 0 3 3 #00000055;
}

menu {
    child-left: 5px;
    child-right: 5px;
    child-top: 4px;
    child-bottom: 4px;
    border-radius: 4px;
}

menubutton {
    child-space: 5px;
    border-radius: 4px;
}
menu:over {
    background-color: #4a4a4a; /* Button Hover */
}
menu:over label {
    color: #f4f4f4; /* Text Level 3 */
}

menu:selected {
    background-color: #4a4a4a; /* Button Hover */
}
menu:selected label {
    color: #f4f4f4; /* Text Level 3 */
}

menubutton:selected {
    background-color: #4a4a4a; /* Button Hover */
}
menubutton:selected label {
    color: #f4f4f4; /* Text Level 3 */
}

.separator {
    background-color: #0e0e0e; /* Border Level 1 */
    width: 1px;
}

.icon_btn {
    border-radius: 4px;
    width: auto;
    height: auto;
}
.icon_btn label{
    color: #c6c6c6; /* Text Level 2 */
}
.icon_btn:hover {
    background-color: #4a4a4a; /* Button Hover */
}
.icon_btn:hover label {
    color: #f4f4f4; /* Text Level 3 */
}
.icon_btn:active {
    background-color: #171717; /* Button Down 1 */
}
.icon_btn:active label {
    color: #f4f4f4; /* Text Level 3 */
}

.icon_btn_toggled {
    background-color: #171717; /* Button Down 1 */;
}
.icon_btn_toggled label {
    color: #f4f4f4; /* Text Level 3 */
}
.side_tab_toggled {
    background-color: #575757; /* Button Down 2 */;
}
.side_tab_toggled label {
    color: #f4f4f4; /* Text Level 3 */
}

.record_btn {
    border-radius: 4px;
}
.record_btn label{
    color: #c74d49; /* Record Btn Off */
}
.record_btn:hover {
    background-color: #4a4a4a; /* Button Hover */
}
.record_btn:active {
    background-color: #171717; /* Button Down 1 */
}
.record_btn:active label {
    color: #e62e28; /* Record Btn On */
}

/* Panels */

.top_bar {
    background-color: #282828; /* Background Level 3 */
    height: 38px;
    child-top: 1s;
    child-bottom: 1s;
    border-width: 1px;
    border-color: #2f2f2f; /* Border Level 2 */
    border-radius: 4px;
}

.side_tab_bar {
    background-color: #1d1d1d; /* Background Level 2 */
    width: 40px;
    child-left: 1s;
    child-right: 1s;
    border-width: 1px;
    border-color: #2f2f2f; /* Border Level 2 */
    border-radius: 4px;
}

.browser_panel {
    background-color: #3d3d3d; /* Background Level 4 */
    min-width: 100px;
    max-width: 400px;
    border-width: 1px;
    border-color: #2f2f2f; /* Border Level 2 */
    border-radius: 4px;
}

.browser_panel_tabs {
    space: 3px;
    background-color: #1d1d1d; /* Background Level 2 */
    border-width: 1px;
    border-color: #0e0e0e; /* Border Level 1 */
    border-radius: 4px;
}

.browser_panel_tab {
    child-left: 8px;
    child-right: 8px;
    child-top: 1px;
    child-bottom: 1px;
    border-radius: 4px;
    height: auto;
}
.browser_panel_tab:hover {
    background-color: #4a4a4a; /* Button Hover */
}
.browser_panel_tab:hover label {
    color: #f4f4f4; /* Text Level 3 */
}
.browser_panel_tab_toggled {
    background-color: #3d3d3d; /* Button Hover */
}
.browser_panel_tab_toggled label {
    color: #f4f4f4; /* Text Level 3 */
}

.bottom_bar {
    background-color: #1d1d1d; /* Background Level 2 */
    height: 26px;
    child-top: 1s;
    child-bottom: 1s;
    border-width: 1px;
    border-color: #2f2f2f; /* Border Level 2 */
    border-radius: 4px;
}