/*
== Color palette ==

1. Grayscale:

- Dark1:        #141112
- Dark2:        #211C1E
- Dark3:        #383133
- Mid1:         #453D3E
- Mid2:         #767475
- Light1:       #C0C0C0
- Light2:       #FFFFFF

2. Accents with shades:

- Yellow:       #F5F940 - #BDBF3A
- Orange:       #F6A22F - #BE7D24
- Red           #F94840 - #AA2D27
- Purple:       #A144FF - #7130B3
- Blue:         #3E69FF - #2A47AB
- LightBlue:    #49A6FD - #2B6CA8
- Cyan:         #3AF4B1 - #1FB47E
- Green:        #4CFF3C - #37AD2D
*/

/* Useful for debugging */
* {
    border-width: 1px;
    border-color: #C0C0C0;
    color: #C0C0C0;
}

.top_bar {
    child-top: 1s;
    child-bottom: 1s;
    background-color: #141112;
    height: 64px;
    col-between: 1s;
}

.top_bar_right_container {
    right: 8px;
}

.top_bar_graph_container {
    col-between: 8px;
}

.top_bar_select_container > hstack > button {
    left: 5px;
    right: 5px;
}

.top_bar_audio_graph_container {
    child-space: 3px;
    background-color: #211C1E;
    border-radius: 2px;
}

.top_bar_peak_container {
    row-between: 1s;
    child-space: 3px;
    background-color: #141112;
    border-radius: 3px;
}

.top_bar_peak {
    height: 5px;
}

.top_bar_performance_graph_container {
    child-space: 3px;
    background-color: #211C1E;
    border-radius: 2px;
}

.bottom_bar {
    background-color: #141112;
    height: 32px;
    child-space: 1s;
}

.left_bar {
    background-color: #141112;
    width: 32px;
}

.browser {
    background-color: #211C1E;
    min-width: 100px;
    max-width: 400px;
    overflow: visible;
}

.channel_rack {
    width: auto;
}

.header {
    height: 32px;
    background-color: #211C1E;
    child-space: 1s;
    child-left: 1s;
    child-right: 10px;
    col-between: 10px;
}

.channels {
    background-color: #141112;
    layout-type: row;
    width: 450px;
    transition: width 0.08 0.0;
    overflow: visible;
}

.channels>.patterns {
    width: 1s;
    min-width: 0px;
    transition: width 0.08 0.0;
}

.channels > vstack > .patterns {
    height: 0s;
    transition: height 0.08 0.0;
}

.channels.vertical {
    width: 225px;
    transition: width 0.08 0.0;
    /* layout-type: column; */
}

.channels.hidden {
    width: 225px;
    transition: width 0.08 0.0;
}

.channels.vertical > .patterns {
    width: 0s;
    transition: width 0.08 0.0;
}

.channels.vertical > vstack > .patterns {
    height: 1s;
    transition: height 0.08 0.0;
}

.channels.hidden > .patterns {
    width: 0s;
    transition: width 0.08 0.0;
}

.channels.vertical.hidden > vstack > .patterns {
    height: 0s;
    transition: height 0.08 0.0;
}

.instruments {
    width: 225px;
    overflow: visible;
}

.patterns {
    width: 225px;
    overflow: visible;
}

.timeline {
    background-color: #141112;
    child-space: 1s;
}

.toolbar {
    background-color: #211C1E;
    height: 32px;
    space: 0px;
}

.piano_roll {
    background-color: #141112;
    height: 1s;
    transition: height 0.08 0.0;
}

.piano_roll.hidden {
    height: 0s;
    transition: height 0.08 0.0;
}

.resize_handle {
    background-color: transparent;
    transition: background-color 0.1 0.0;
}

.resize_handle.drag_handle {
    background-color: #C0C0C0;
    transition: background-color 0.1 0.0;
}

.icon {
    child-space: 1s;
    color: #C0C0C0;
}

button {
    border-radius: 3px;
    width: auto;
    height: auto;
}