/* * {
    border-width: 1px;
    border-color: red;
} */

.divider {
    top: 1s;
    bottom: 1s;
    width: 2px;
    height: 4s;
    background-color: #242424;
}

label {
    color: white;
}

.control_block {
    child-space: 10px;
}

.control_stack {
    height: 30px;
    col-between: 5px;
    child-top: 1s;
    child-bottom: 1s;
}

.controls_header {
    height: 20px;
}

/* TRANSPORT CONTROLS */
.transport_playhead {
    width: 50px;
    height: 30px;
    child-left: 0px;
}

.play_button {
    border-width: 0px;
    font-size: 24px;
    color: #f54e47;
    width: 30px;
    height: 30px;
}

.stop_button {
    width: 30px;
    height: 30px;
}

.clip_header {
    cursor: grab;
}

.resize_ew {
    cursor: ew-resize;
}

.resize_ns {
    cursor: ns-resize;
}

.track_control_upper {
    child-space: 5px;
    col-between: 5px;
}

.track_control_label {
    height: 30px;
    width: 2s;
    background-color: #242424;
    child-left: 5px;
}

.timeline_view .toolbar {
    height: 30px;
    background-color: #534c4e;
}

.clip {

}

button {
    background-color: #302c2f;
    border-width: 0px;
}

button label {
    color: white;
}